<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sinandev.echomusicplayer">
        <!-- Permissions for Android 11 and below -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Manage external storage for Android 11 and above (optional, but requires user approval via settings) -->
    <!-- <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> -->

    <!-- For older Android versions (below Android 13) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

      <!-- Specific media access permissions for Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- For audio files -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- For image files -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- For video files -->

    <!-- Required for background playback -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />


      <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>
    <application
        android:label="Echo Music Player"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">
         <activity
            android:name="com.ryanheise.audioservice.AudioServiceActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name="com.ryanheise.audioservice.AudioService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.ryanheise.audioservice.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver> 

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Provide required visibility configuration for API level 30 and above -->
        <queries>
        <!-- If your app checks for SMS support -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="sms" />
        </intent>
        <!-- If your app checks for call support -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="tel" />
        </intent>
        <!-- If your application checks for inAppBrowserView launch mode support -->
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService" />
        </intent>
        </queries>
</manifest>